{% extends 'shop/layouts/main.html' %}
{% block title %}
Once More | Online Shopping
{% endblock title%}


{% block content %}
<style>
    .pic-box{
    position: relative;
}
.hi{
    background-color: orangered !important;
    color: white;
    font-weight: bold;
    display: inline;
    border-radius: 10px;
    padding: 6px;
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 10;
    width: 80px;
    text-align: center;
}
</style>
<section class="bg-light py-4 my-5" style="min-height: 600px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3">{{products}} details</h4>
                <hr style="border-color: rgb(66, 65, 65);">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                      <li class="breadcrumb-item"><a href="{% url 'collection' products.category.name  %}">Collections</a></li>
                      <li class="breadcrumb-item active" aria-current="page">{{products}}</li>
                    </ol>
                  </nav>
                  {% include 'shop/inc/message.html' %}
            </div>
            <div class="col-4 my-3 pic-box">
                {% if products.trending %}
                <div class="hi">Trending</div>
                {% endif %}
                <img src="{{ products.product_image.url }}" class="card-img-top" alt="{{products}}" >
            </div>
            <div class="col-8 my-3">
                <h5 class="text-danger">Men's Fashion Spot</h5>
                <p>{{products.vendor|upper}}</p>
                <p>{{products.description}}</p>
                

               <div class="col-5 mt-4">
                <button class="btn btn-dark ">S</button>
                <button class="btn btn-dark mx-2">M</button>
                <button class="btn btn-dark mx-2">L</button>
                <button class="btn btn-dark mx-2">XL</button>
                <button class="btn btn-dark mx-2">XXL</button> 
               </div>
                <h5 class="mt-4 text-success">Rs.{{ products.original_price }}</h5>
                {% if products.quantity > 0 %}
                <input type="hidden" id="pid" value="{{products.id}}">
                {% csrf_token %}
            <p>
                <div class="input-group" style="width: 150px;">
                    <button class="input-group-text bg-success text-light" id="btnminus"><i class="fa fa-minus"></i></button>
                    <input type="text" name="qty" id="txtQty"  value="1" class="form-control text-center">
                    <button class="input-group-text bg-success text-light" id="btnplus"><i class="fa fa-plus"></i></button>
                </div>
            </p>
                <button class="btn btn-primary my-2" id="btnCart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                {% else %}
                <button class="btn btn-success my-2"><i class="fa fa-minus"></i> Out of Stock</button>
                {% endif %}
                <button class="btn btn-danger mx-5 my-2"><i class="fa fa-heart"></i></button>  
            </div>
        </div>
    </div>
</section>

<script>
document.addEventListener("DOMContentLoaded", function(event) {
    const btnminus = document.getElementById('btnminus');
    const btnplus = document.getElementById('btnplus');
    const txtQty = document.getElementById('txtQty');
    const pid=document.getElementById('pid');
    const tkn=document.querySelector('[name="csrfmiddlewaretoken"]').value;
    const btnCart=document.getElementById('btnCart');

    btnplus.addEventListener("click", function() {
        let qty = parseInt(txtQty.value, 10);
        qty = isNaN(qty) ? 0 : qty;
        //console.log(qty)
        if (qty < 10) {
            qty++;
            txtQty.value = qty;
        }
    });

    btnminus.addEventListener("click", function() {
        let qty = parseInt(txtQty.value, 10);
        qty = isNaN(qty) ? 0 : qty;
        //console.log(qty)
        if (qty > 1) {
            qty--;
            txtQty.value = qty;
        }
    });
    btnCart.addEventListener("click", function(){
        let qty=parseInt(txtQty.value,10);
        qty=isNaN(qty) ?0:qty;
        if(qty>0){
            let postobj={
                product_qty:qty,
                pid:pid.value,
                token:tkn
            }
        }else{
            alert("Please Quantity Konjam Enter Pannuga...");
        }
    });
});

</script>
{% endblock content %}